<table class="table table-striped" id="output">
    <thead>
        <tr>
            <th>
                Type 
            </th>
            <th>
                <div class="col-sm-12">
                    Montant HT
                </div>
            </th>

            <th>
                <div class="col-sm-12">
                    Taux TVA
                </div>
            </th>

            <th>
                <div class="col-sm-12">
                    Montant TTC
                </div>
            </th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of listFrais">

            <td>
              {{getType(item.frais)}}
            </td>

            <td>
                <app-input-number-vergule *ngIf="isModifiable == 'oui'" [field]="item" key="montant" idUnique="montant{{item.frais}}"
                 (change)="changePrix()"></app-input-number-vergule>

                <div *ngIf="isModifiable != 'oui'">
                    <span>{{getNumber(item['montant'])}} </span>
                </div>
            </td>

            <td>
                    <span>{{getNumber(item['tva'])}} </span>
            </td>

            <td>
                    <span >{{getNumber(item['montantTTC'])}} </span>
            </td>
        
        </tr>

    </tbody>
</table>
