<app-controle-acces
  [avoirAccee]="informationGenerale.verifierAccee('listSessionCaisses')"
></app-controle-acces>

<div
  class="col-xl-14"
  *ngIf="informationGenerale.verifierAccee('listSessionCaisses')"
>
  <app-card
    cardTitle="Liste des sessions caisses"
    blockClass="table-border-style"
  >
    <form [formGroup]="formC">
      <app-entete-page-list
        [list]="sessionCaisses"
        [items]="items"
        [titreFile]="titreFile"
        [nameFile]="nameFile"
        [acces]="'ajouterSessionCaisse'"
        (gotToAdd)="gotToAdd()"
        [titreDocuments]="'Session Caisse'"
        [itemsVariable]="itemsVariable"
        [control]="formC.controls['limit']"
        (getList)="getSessionCaisses()"
      >
      </app-entete-page-list>

      <div class="table-responsive">
        <table class="table table-striped" id="output">
          <thead>
            <tr class="rechercherligne">
              <th *ngFor="let key of objectKeys(itemsVariable)">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Recherche"
                    class="form-control"
                    [formControlName]="key"
                  />
                </div>
              </th>

              <th></th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th *ngFor="let key of objectKeys(itemsVariable)">
                <div class="th-tableau" (click)="changeCroissante(key)">
                  {{ key }}
                  <div class="buttons-croissante">
                    <i
                      class="fas fa-caret-up croissante {{ key }}-croissante"
                    ></i>
                    <i
                      class="fas fa-caret-down croissante {{ key }}-croissante"
                    ></i>
                  </div>
                </div>
              </th>

              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of sessionCaisses">
              <td *ngFor="let key of objectKeys(itemsVariable)">
                <span
                  *ngIf="fonctionPartages.colonnesQuantites.includes(key)"
                  style="float: right"
                  >{{
                    fonctionPartages.getFormaThreeAfterVerguleNomber(item[key])
                  }}</span
                >
                <span
                  *ngIf="
                    key != 'caisse' &&
                    fonctionPartages.colonnesPrix.includes(key)
                  "
                  style="float: right"
                  >{{
                    fonctionPartages.getFormaThreeAfterVerguleQuantite(
                      item[key]
                    )
                  }}</span
                >
                <span
                  *ngIf="fonctionPartages.colonnesDates.includes(key)"
                  style="text-align: center; display: block"
                  >{{ fonctionPartages.getDate(item[key], "yyyy-MM-dd") }}</span
                >
                <span
                  *ngIf="fonctionPartages.colonnesOuiNon.includes(key)"
                  style="text-align: center; display: block"
                >
                  <i
                    class="fas fa-check-square"
                    style="font-size: 15px"
                    *ngIf="item[key] == 'oui'"
                  ></i>
                  <i
                    class="fas fa-square"
                    style="font-size: 15px"
                    *ngIf="item[key] != 'oui'"
                  ></i>
                </span>
                <span
                  *ngIf="
                    !(
                      fonctionPartages.colonnesDates.includes(key) ||
                      fonctionPartages.colonnesQuantites.includes(key) ||
                      fonctionPartages.colonnesPrix.includes(key) ||
                      fonctionPartages.colonnesOuiNon.includes(key)
                    )
                  "
                  >{{ item[key] }}</span
                >
                <span *ngIf="key === 'caisse'">{{ item[key] }}</span>
              </td>

              <td>
                <a
                  *ngIf="
                    informationGenerale.verifierAccee('modifierSessionCaisseAcceeCaissie') || 
                    informationGenerale.verifierAccee('modifierSessionCaisseAcceeSuperviseur')
                  "
                  _ngcontent-myx-c121=""
                  [href]="pageModifie + item.id"
                  class="btn btn-icon btn-outline-success"
                  style="margin-right: 5px"
                >
                  <i _ngcontent-myx-c121="" class="feather icon-edit"></i>
                </a>
                <a
                  class="btn btn-icon btn-outline-success"
                  style="margin-left: 5px"
                  (click)="
                    generatePDF(sessionCaisses, item.id)
                  "
                >
                  <i class="fa-solid fa-file-pdf"></i>
                </a>
                <!-- <a
                  *ngIf="
                    informationGenerale.verifierAccee('modifierBonTravail')
                  "
                  _ngcontent-myx-c121=""
                  href="javascript:"
                  class="btn btn-icon btn-outline-danger"
                  (click)="openModalDelete(item.id, item.numero)"
                >
                  <i _ngcontent-myx-c121="" class="feather icon-trash-2"></i>
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-spinner2 *ngIf="isLoading"></app-spinner2>
      <hr />
      <app-pagination
        [page]="request.page"
        [totalPage]="totalPage"
        (setPageEvent)="setPage($event)"
      >
      </app-pagination>
    </form>

    <app-delete-modal
      [isLoading]="isLoading"
      [isOpenModalDelete]="isOpenModalDelete"
      [idDeleteModal]="idDeleteModal"
      [params1Delete]="params1Delete"
      [params2Delete]="params2Delete"
      (deleteItem)="deleteItem()"
      (closeModalDelete)="closeModalDelete()"
    ></app-delete-modal>
  </app-card>
</div>
