<app-controle-acces [avoirAccee]="informationGenerale.verifierAccee('ajouterBonCommande')"></app-controle-acces>



<app-input-bon-livraison
    *ngIf="informationGenerale.verifierAccee('ajouterBonCommande')"
    [lienAjoute]="lienAjoute"
    [apiList]="apiList"
    [apiParametres]="apiParametres"
    [lienModifie]="lienModifie"
    [lienGetById]="lienGetById"
    [titreDocument]="titreDocument"
    [modeTiere]="modeTiere"
    [titreCrud]="titreCrud"
    [pageList]="pageList"
    [lienGetByIdDocumentPrecedent]="lienGetByIdDocumentPrecedent"
    [titreDocumentPrecedent]="titreDocumentPrecedent"
    [lienGetDocuments]="lienGetDocuments"
    [titreCrud]="titreCrud"
    [pageList]="pageList"
    [isPopup]="isPopup"
    (closeModal) = "closeModalLocal()"
></app-input-bon-livraison>