<div class="col-xl-14">
    <app-card cardTitle="Liste {{parametres.titreAjouter}}" blockClass="table-border-style">
        <form [formGroup]="formC">
            <app-filtre-date-button (getDatee)="getReglements($event)"></app-filtre-date-button>

            <app-entete-page-list [list]="reglements" [items]="items" [titreFile]="titreFile" [nameFile]="nameFile"
                [acces]="'ajouterReglementBonLivraison'" (gotToAdd)="gotToAdd()" [titreDocuments]="'Reglement'"
                [itemsVariable]="itemsVariable" [control]="formC.controls['limit']" (getList)="getReglements(request)">
            </app-entete-page-list>

            <div class="table-responsive">
                <table class="table table-striped" id="output">
                    <thead>
                        <tr class="rechercherligne">
                            <th *ngFor="let key of objectKeys(itemsVariable)">
                                <div class="form-group">
                                    <input type="text" placeholder="Recherche" class="form-control"
                                        [formControlName]="key">
                                </div>
                            </th>
                            <th>
                            </th>
                        </tr>
                    
                        <tr>
                            <th *ngFor="let key of objectKeys(itemsVariable)">
                                <div class="th-tableau" (click)="changeCroissante(key)">
                                    {{items[key]}}
                                    <div class="buttons-croissante">

                                        <i class="fas fa-caret-up croissante {{key}}-croissante"></i>
                                        <i class="fas fa-caret-down croissante {{key}}-croissante"></i>
                                    </div>
                                </div>
                            </th>
                            <th class="grid-col grid-col--fixed-right" style="background-color:#f6f6f6 ;">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of reglements">
                            <td *ngFor="let key of objectKeys(itemsVariable)">
                                <span *ngIf="key == 'client' && parametres.typeTier == 'Client'">{{item[key]}}</span>
                                <span
                                    *ngIf="key == 'fournisseur' && parametres.typeTier == 'Fournisseur'">{{item[key]}}</span>

                                <span *ngIf="fonctionPartages.colonnesQuantites.includes(key)"
                                    style="float:right;">{{fonctionPartages.getFormaThreeAfterVerguleNomber(item[key])}}</span>
                                <span *ngIf="fonctionPartages.colonnesPrix.includes(key)"
                                    style="float:right;">{{fonctionPartages.getFormaThreeAfterVerguleQuantite(item[key])}}</span>
                                <span *ngIf="fonctionPartages.colonnesDates.includes(key)"
                                    style="text-align: center; display: block;">{{item[key]}}</span>
                                <span *ngIf="fonctionPartages.colonnesOuiNon.includes(key)"
                                    style="text-align: center; display: block;"> <i class="fas fa-check-square"
                                        style="font-size: 15px;" *ngIf="item[key] == 'oui'"></i> <i
                                        class="fas fa-square" style="font-size: 15px;" *ngIf="item[key] != 'oui'"></i>
                                </span>
                                <span
                                    *ngIf="!(arrayObjets.includes(key) == true || fonctionPartages.colonnesDates.includes(key) || fonctionPartages.colonnesQuantites.includes(key) || fonctionPartages.colonnesPrix.includes(key) || fonctionPartages.colonnesOuiNon.includes(key))">{{item[key]}}</span>
                            </td>

                            <td class="grid-col grid-col--fixed-right">
                                <a _ngcontent-myx-c121="" [routerLink]="parametres.pageDetails+item.id"
                                    class="btn btn-icon btn-outline-warning" style="margin-right: 5px;">
                                    <i _ngcontent-myx-c121="" class="feather icon-eye"></i>
                                </a>

                                <a _ngcontent-myx-c121="" [routerLink]="parametres.pageModifie+'reglement/'+item.id"
                                    class="btn btn-icon btn-outline-success" style="margin-right: 5px;">
                                    <i _ngcontent-myx-c121="" class="feather icon-edit"></i>
                                </a>

                                <a href="javascript:" class="btn btn-icon btn-outline-danger"
                                    (click)="openModalDelete(item.id,item.modeReglement + ' ' +item.client)">
                                    <i _ngcontent-myx-c121="" class="feather icon-trash-2"></i>
                                </a>

                                <a _ngcontent-myx-c121="" [routerLink]="parametres.pageModifie+'liltrage/'+item.id"
                                class="btn btn-icon btn-outline-dark" style="margin-left: 5px;">
                                <i _ngcontent-myx-c121="" class="feather icon-edit"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        
                        <tfoot>
                         <tr style="text-align: center;">
                          <td *ngFor="let key of objectKeys(itemsVariable)">
                            <span *ngIf="fonctionPartages.colonnesQuantites.includes(key)" style="float:right;color:#1abc9c">{{fonctionPartages.getFormaThreeAfterVerguleQuantite(fonctionPartages.getSomme(reglements, key))}}</span>
                            <span *ngIf="fonctionPartages.colonnesPrix.includes(key)" style="float:right;color:#1abc9c">{{fonctionPartages.getFormaThreeAfterVerguleNomber(fonctionPartages.getSomme(reglements, key))}}</span>
                            <span *ngIf="fonctionPartages.colonnesDates.includes(key)" style="text-align: center; display: block;"></span>
                            <span *ngIf="fonctionPartages.colonnesOuiNon.includes(key)" style="text-align: center; display: block;"> </span>
                            <span *ngIf="!(fonctionPartages.colonnesDates.includes(key) || fonctionPartages.colonnesQuantites.includes(key) || fonctionPartages.colonnesPrix.includes(key) || fonctionPartages.colonnesOuiNon.includes(key))"></span>
                            <!-- <span *ngIf="allCreDebs.includes(key)" style="font-family: cursive,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color:#1abc9c ;">{{fonctionPartagesService.getFormaThreeAfterVerguleNomber(item[key])}}</span>
                            <span *ngIf="allChargRets.includes(key)">{{fonctionPartagesService.getFormaThreeAfterVerguleNomber(item[key])}}</span>
                            <span *ngIf="key == 'typeOperation'">{{item[key]}}</span> -->
                          </td>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
            <app-spinner2 *ngIf="isLoading"></app-spinner2>
            <hr>
            <app-pagination [page]="request.page" [totalPage]="totalPage" (setPageEvent)="setPage($event)">
            </app-pagination>
        </form>
        <app-delete-modal [isLoading]="isLoading" [isOpenModalDelete]="isOpenModalDelete"
            [idDeleteModal]="idDeleteModal" [params1Delete]="params1Delete" [params2Delete]="params2Delete"
            (deleteItem)="deleteItem()" (closeModalDelete)="closeModalDelete()"></app-delete-modal>
    </app-card>
</div>
