<router-outlet>
  
</router-outlet>
<app-toast-notification></app-toast-notification>

<app-popup-impression-facture></app-popup-impression-facture>






<!-- //////////////////// start popup Loading -->
<div id="myModalAjoutElement" [class]="informationGenerale.classCssPopupLoadingGlobal" >
    <div style="position: absolute; width: 100%; height: 100%;top: 0px; left:0px;">
    </div>
    <!-- Modal content -->
    <app-spinner2></app-spinner2>
</div>

<!-- //////////////////// end popup Loading -->